@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&family=Space+Grotesk:wght@300;400;700&display=swap');

:root {
  --background-start: #0a2342;
  --background-end: #2ca58d;
  --text-primary: #ffffff;
  --text-secondary: #e9ecef;
  --accent-color: #ffd166;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url('https://i.imgur.com/YKY28eT.png') repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url('https://i.imgur.com/XYMF4ca.png') repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px;}
}

.content {
  flex: 1 0 auto;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
  color: var(--text-primary);
}

.container {
  max-width: 64rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
  height: auto;
  max-height: 200px;
  object-fit: contain;
}

.year {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.1);
  font-size: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;  /* This ensures it's behind other content */
}

.mainTitle {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 3.75rem;
  letter-spacing: -0.02em;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  position: relative;  /* Add this to create a new stacking context */
  z-index: 1;  /* Add this to ensure it's above the year */
}

.highlight {
  color: var(--accent-color);
}

.date, .location {
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.date svg, .location svg {
  margin-right: 0.5rem;
  width: 1em !important; /* Force the icon width to match the font size */
  height: 1em !important; /* Force the icon height to match the font size */
}

.location {
  font-size: 1.25rem;
  margin-bottom: 4rem;
}

.stayTuned {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: var(--background-start);
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto 4rem;
}

.stayTuned:hover {
  background-color: var(--text-primary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.email {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: var(--text-secondary);
}

@media (max-width: 768px) {
  .logo {
    width: 150px;
    max-height: 150px;
  }

  .mainTitle {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .date {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .stayTuned {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    margin-bottom: 3rem;
  }

  .date, .location {
    font-size: 1.5rem;
  }

  .location {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .logoContainer {
    margin-bottom: 1rem;
  }

  .logo {
    width: 100px;
    max-height: 100px;
  }

  .mainTitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .date {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  .stayTuned {
    margin-bottom: 2rem;
  }

  .date, .location {
    font-size: 1.25rem;
  }

  .location {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
}


.countdown {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: var(--text-secondary);
  margin-bottom: 4rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  z-index: 1000;
}

.headerContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.headerLogo {
  height: 60px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.headerLogo:hover {
  transform: scale(1.05);
}

.headerNav {
  flex-grow: 1;
  text-align: center;
}

.headerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.headerNav li {
  margin: 0 15px;
}

.headerNav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  padding: 5px 10px;
  border-radius: 5px;
}

.headerNav a:hover {
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.headerNav a.active {
  color: var(--accent-color);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}

.headerCountdown {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 0;
  text-align: center;
}

.countdown {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-secondary);
  margin: 0;
}

.comingSoon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  padding-top: 140px; /* Increase this value to account for the header and countdown */
}

.comingSoon h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.comingSoon p {
  font-size: 1.5rem;
}

.footer {
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--text-secondary);
  padding: 20px 0;
  width: 100%;
  position: relative;
  z-index: 3;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.footerEmail {
  font-size: 1rem;
  margin: 0;
}

.content-shifted {
  padding-top: 100px; /* Default padding for larger screens */
}

@media (max-width: 768px) {
  .content-shifted {
    padding-top: 120px; /* Increased padding for mobile screens */
  }
}

@media (max-width: 480px) {
  .content-shifted {
    padding-top: 140px; /* Even more padding for smaller mobile screens */
  }
}

.map-container {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .map-container {
    max-width: 90%;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

.mobileMenuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.hamburger {
  display: block;
  width: 24px;
  height: 2px;
  background: #ffffff; /* Changed from #000 to #ffffff */
  position: relative;
  transition: all 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: #ffffff; /* Changed from #000 to #ffffff */
  transition: all 0.3s ease-in-out;
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(8px);
}

.hamburger.open {
  background: transparent;
}

.hamburger.open::before {
  transform: rotate(45deg) translateY(0);
  background: #ffffff;
}

.hamburger.open::after {
  transform: rotate(-45deg) translateY(0);
  background: #ffffff;
}

@media (max-width: 768px) {
  .mobileMenuButton {
    display: block;
    position: relative;
    z-index: 1001; /* Ensure it's above the mobile menu */
  }

  .headerNav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #000000;
    padding: 1rem;
    z-index: 1000;
  }

  .headerNav.mobileOpen {
    display: block;
  }

  .headerNav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .headerNav li {
    margin: 0;
  }

  .headerNav a {
    color: #ffffff;
    display: block;
    padding: 0.75rem 1rem;
    width: 100%;
    text-align: left;
  }

  .headerNav a:hover {
    background-color: #333333;
  }

  .headerNav a.active {
    background-color: #333333;
  }
}
